body {
    background-color: #EEE1C6;
    margin: 0;
}

.navbar {
    display: flex;
    background-color: #00471B;
    border-bottom: solid #00471B 1px;
    line-height: auto;
}

.navbar a {
    float: left;
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-family: Garamond, serif;
    font-size: large;
    padding: 0.5em 1em;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.navbar a:hover,
.dropbtn:hover .dropdown:hover .dropdown-content,
.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
    color: #000000;
    opacity: 0.5;
}

.active {
    background-color: #0077C0;
    color: #FFFFFF;
}

.dropdown .active {
    background-color: rgb(0, 119, 192, 0.5);
}

.dropbtn {
    font-size: large;
    border: none;
    outline: none;
    color: white;
    padding: 0.5em 1em;
    background-color: inherit;
    font-family: Garamond, serif;
    cursor: pointer;
    line-height: 3em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
}

.catchphrase {
    color: #FFFFFF;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    margin: auto 0;
    padding-right: 1%;
}

.logo {
    height: 3em;
    width: auto;
}

.content {
    padding: 10px;
}