html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-decoration: underline;
}

.navbar {
    display: flex;
    background-color: #00471B;
    border-bottom: solid #00471B 1px;
    line-height: auto;
}

.navbar a {
    float: left;
    display: flex;
    color: #FFFFFF;
    text-align: center;
    font-family: Garamond, serif;
    font-size: large;
    padding: 0.5em 1em;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
}

.navbar a:hover,
.dropbtn:hover .dropdown:hover .dropdown-content,
.dropdown:hover .dropbtn {
    background-color: #FFFFFF;
    color: #000000;
    opacity: 0.5;
}

.content {
    padding: 10px;
}

.footer {
    display: flex;
    background-color: #00471B;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-family: Garamond, serif;
    font-size: medium;
    position: relative;
    bottom: 0;
    margin-top: auto;
    width: 100%;
    z-index: 3;
}

.footer a:visited {
    color: #0077C0;
    background-color: transparent;
    text-decoration: none;
}

.credits {
    margin: 0 20px;
}

.active {
    background-color: #0077C0;
    color: #FFFFFF;
}

.dropdown .active {
    background-color: rgb(0, 119, 192, 0.5);
}

.dropbtn {
    font-size: large;
    border: none;
    outline: none;
    color: white;
    padding: 0.5em 1em;
    background-color: inherit;
    font-family: Garamond, serif;
    cursor: pointer;
    line-height: 3em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEE1C6;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title {
    color: #EEE1C6;
    font-size: xx-large;
    font-weight: bold;
    margin: auto;
}

.catchphrase {
    color: #EEE1C6;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    margin: auto 0;
    padding-right: 1%;
}

.logo {
    height: 3em;
    width: auto;
}

#list-container {
    display: flex;
    flex-direction: row;
}

#image-container {
    display: none;
}

#buck {
    width: auto;
    height: 10em;
    margin-left: 100px;
}

#bio {
    position: absolute;
    max-width: 40em;
    padding-left: 20em;
}

li.clickable {
    font-size: large;
}

li.clickable:hover {
    cursor: pointer;
}

.first {
    list-style-type: '🥇';
}

.second {
    list-style-type: '🥈';
}

.third {
    list-style-type: '🥉';
}

.medal {
    list-style-type: '🏅';
}